

:root{
    --main-bg: #C3C1C1;
    --font-roboto: "Roboto", sans-serif;
    --font-roboto-condensed: "Roboto Condensed", sans-serif;
}
body{
    background-color: var(--main-bg);
}

p{
    margin: 0;
}
.wrapper{
    display: grid;
    justify-content: center;
    align-content: center;
    margin-top: 80px;
    row-gap: 50px;
}
.heading_wrap p{
    font-size: 20px;
    font-family: var(--font-roboto-condensed);
    text-align: center;
}
.heading_wrap h1{
    font-size: 40px;
    font-family: var(--font-roboto-condensed);
    margin: 0;
    text-align: center;
}

.details_wrap{
    display: grid;
    row-gap: 15px;
    list-style: none;
    padding-left: 0;
}
.detail_item{
    display: flex;
    font-family: var(--font-roboto);
    font-size: 20px;
    align-items: center;
    column-gap: 10px;
    justify-content: center;
}
.detail_item .detail_item_names{
    font-weight: 600;
}
.country_code_name{
    display: flex;
    align-items: center;
    column-gap: 6px;
}
.country_code_name img{
    max-width: 25px;
}

@media only screen and (max-width:600px){
    .detail_item{
        justify-content: start;
    }
}